
.ipynb_checkpoints/

__pycache__/

.vscode/

*.gv

automata-output/

*.log

*.aux

*.mp4

Documents/Rapport_Josué/main.bbl

Documents/Rapport_Josué/main.blg

Documents/Rapport_Josué/main.out

Documents/Rapport_Josué/main.pdf
