
.ipynb_checkpoints/

__pycache__/

.vscode/

*.gv

automata-output/

*.log

*.aux

Expérimentations/full_table.fdb_latexmk

Expérimentations/full_table.fls

Expérimentations/full_table.pdf

Expérimentations/full_table.tex

Expérimentations/table.pdf

Expérimentations/DLX/dlx

Expérimentations/DLX/dlx-c

Expérimentations/DLX/dlx-m

Expérimentations/DLX/dlx-m.o

Expérimentations/DLX/dlx-m.so
